html {
    font-family: "Metropolis Bold", sans-serif;
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    height: 78px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1120px;
    height: 100%;
}

header img{
    max-height: 20px;
}

.header-content > nav {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

nav > a {
    color: black;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

nav > a:hover{
    color: rgb(254,68,0);
}

main {
    margin-top: 80px;
}

.laranja{
    font-weight: 750;
    color: #FE4400;
}

.estamosVoltando{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}

.estamosVoltando h1{
    text-align: center;
    color: #FE4400;
    font-weight: 900;
}

.estamosVoltando p{
    text-align: justify;
    max-width: 75%;
}

.agendamentos{
    background-color: #FE4400;
}

.escritorios{
    background-color: #F3F4F9;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 3rem;
}

.mapas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #333333;
}

iframe {
    border-radius: 50px;
    border: 3px solid #333333;
    box-shadow: 0 0 .5em #606061;
}

.cuidados{
    background-color: #4B4FA1;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303033;
    color: white;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
}

.creditos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: .5rem;
    margin: 1rem 0;
    margin-left: 1rem;
}

.aviso{
    margin-right: 1rem;
}

.creditos p{
    padding: 0;
    margin: 0;
}

.creditos a{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

